.bodyBG{
    background-color: #D66A6A;
    width: 100vw;
    position: relative;
    overflow-x: scroll;
}

.bodyBG .body{
    width: 10000000vh;
    margin: 10px;
}

.bodyBG .body .eachMember{
    width: 352px;
    height: 583px;
    background-color: #D66A6A;
    float: left;
    /* border: solid 3px black; */
    text-align: center;
    margin-top:10px;
}

.bodyBG .body .eachMember a img{
    position: absolute;
    margin-left: -11px;
    margin-top:47px;
    width: 26px;
}

.bodyBG .body .eachMember a:hover img{
    position: absolute;
    margin-left: -20px;
    margin-top:47px;
    width: 46px;
}

.bodyBG .body .eachMember a h7{
    float: left;
    display: block;
    color: #2A2C3F;
    text-align: center;
    padding: 14px 13px;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    margin-top: 40px;
    transform: translateX(65%);
    visibility: hidden;
}

.bodyBG .body .eachMember a:hover h7{
    float: left;
    display: block;
    color: #D8D0D0;
    text-align: center;
    padding: 14px 13px;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    margin-top: 90px;
    transform: translateX(68%);
    visibility: visible;
}



.bodyBG .body .eachMember .whiteBox{
    width: 330px;
    height: 420px;
    background-color: white;
    display: inline-block;
    position: relative;
    top: 30px;
    border-radius: 50px;
    overflow: auto;
}

.bodyBG .body .eachMember .whiteBox h1{
    color: #424456
}

.bodyBG .body .eachMember .whiteBox h2{
    color: #424456
}

.bodyBG .body .eachMember .whiteBox img{
    position:relative;
    object-fit: cover;
    width: 215px;
    height: 215px;
    top:-3px;
    border: 5px solid #d8d9dd;
    border-radius: 15px;
}