* {
    box-sizing: border-box;
}

body {
    margin: 0;
/*        background-color:aqua;*/
    overflow-y: auto;
}

.All{
    display: flex;
    flex-direction: row;
    background-color: DodgerBlue;
    height: auto;
    width: auto;
}

/*----------------------------------Sidebar------------------------------------*/

.Sidebar {
    display: block;
    position: fixed;
    width: 200px;
    margin: 0;
    height: 100vh;
    /*    background-color:aquamarine;*/
}

.Navbar {
    position: inherit;
    width: inherit;
    height: 50px;
    background-color: rgba(73, 178, 237, 1);
}

.Navbar>img {
    position: inherit;
    width: 24px;
    height: 24px;
    left: 14px;
    top: 13px;
}

.Navbar>p {
    position: inherit;
    width: 57px;
    height: 25px;
    left: 49px;
    top: 14px;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.SidebarContent {
    /*มีรูป ชื่อ ข้อความ*/
    position: inherit;
    width: inherit;
    top: 50px;
    height: 100vh;
    /*น่าจะยังเกินขอบอยู่ */
    background-color: rgba(68, 68, 68, 1);
    /*border: 4px solid red;*/
}

.SidebarContent>img {
    position: inherit;
    width: 180px;
    height: 180px;
    border-radius: 15px;
    top: 60px;
    left: 10px;
}

.SidebarContent>p {
    position: inherit;
    width: 92px;
    height: 58px;
    left: 53px;
    top: 248px;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
}

.SidebarContent .NavLink {
    position: inherit;
    /*background-color: gray;*/
    top: 320px;
    padding-left: 19px;
    width: inherit;
    height: auto;
}

.SidebarContent .NavLink ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 20px;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 16px;
    color: #cccccc;
}

.SidebarContent .NavLink ul>ul {
    margin-top: -10px;
    margin-bottom: -20px;
    display: block;
    padding-left: 20px;
    position: inherit
}

.SidebarContent .NavLink ul img {
    position: inherit;
    display: inline-block;
    width: 24px;
    height: 24px;
}

/*----------------------------------Main------------------------------------*/

.Main {
    background-color: #EEEEEE;
    display: block;
    position: absolute;
    width: auto;
    left: 200px;
    right: 0px;
    top: 0px;
    height: 700px;
    overflow-y: auto;
    padding: 12px 12px 40px 12px;
}

.Main>p {
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    color: black;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
}

.Post {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding-bottom: 10px;
    margin-bottom: 12px;
}

.Post>.Owner {
    position: absolute;
    /*    background-color: rgba(222,222,39,0.03);*/
    width: 56px;
    height: inherit;
}

.Post>.Owner>img {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 8px;
    right: 8px;
    top: 8px;
    border: 1px solid #dddddd;
}

.Post>.PreContent {
    width: 100%;
    height: inherit;
    margin-left: 56px;
    margin-right: 0px;
    right: 0px;
    left: 0px;
    /*    background-color: rgba(211,33,125,0.04);*/
    padding-top: 8px;
    padding-right: 8px;
}

.Name {
    color: #49B2ED;
    position: relative;
    display: inline;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-family: 'Kanit', sans-serif;
    line-height: normal;
    font-size: 16px;
    text-decoration-line: underline;
}

.Text {
    position: relative;
    display: inline;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-family: 'Kanit', sans-serif;
    line-height: normal;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.Text2 {
    position: relative;
    display: inline;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 14px;
    color: #AAAAAA;
}

.Post>.PreContent>.Content {
    position: relative;
    width: 92%;
    height: auto;
    padding: 0px;
    padding-top: 8px;
    /*    background-color: beige;*/
}

.Post>.PreContent>.Content2 {
    position: relative;
    width: 65%;
    height: auto;
    padding: 0px;
    padding-top: 8px;
    /*    background-color: beige;*/
}

.Post>.PreContent>.Content>img {
    position: relative;
    margin-right: 1%;
    width: 32%;
    height: auto;
    border: 1px solid #dddddd;
}

/*like icon*/

.Post>.PreContent>img {
    display: inline-block;
    width: 20px;
    height: 20px;
}

/*จำนวนไลค์*/

.Post>.PreContent>.Text3 {
    position: relative;
    display: inline;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 20.5px;
    color: #AAAAAA;
}

.Post>.PreContent>.Text4 {
    position: relative;
    display: inline;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 23px;
    color: #666666;
}

hr {
    position: relative;
    border: 1px solid #dddddd;
    margin: 0;
}

.Post>.PreContent>.Comment {
    display: flex;
    flex-direction: row;
    /*    background-color: rgba(1000,220,45,0.2);*/
    width: 100%;
    height: auto;
}

.Post>.PreContent>.Comment>.Pic {
    position: static;
    /*    background-color:cornsilk;*/
    width: 48px;
    height: auto;
    padding: 4px 8px 0px 0px;
}

.Post>.PreContent>.Comment>.Pic>img {
    width: 40px;
    height: 40px;
    border: 1px solid #dddddd;
}

.Post>.PreContent>.Comment>.Info {
    width: 100%;
    height: auto;
    /*    background-color:azure;*/
    padding-right: 3px;
}

.DropDown {
    position: absolute;
    right: 20px;
    width: 24px;
    height: 24px;
}

.Space {
    height: 4px;
}
/*------------------------------------------------------------not fix*/
@media only screen and (max-height: 650px){
.Sidebar {
    display: block;
    position:absolute;
    width: 200px;
    margin:0px;
    top:0px;
    bottom: 0px;
    height: 650px;
    /*    background-color:aquamarine;*/
}

.SidebarContent {
    /*มีรูป ชื่อ ข้อความ*/
    position: inherit;
    width: inherit;
    top: 50px;
    bottom:0px;
    height: inherit;
    /*น่าจะยังเกินขอบอยู่ */
    background-color: rgba(68, 68, 68, 1);
    /*border: 4px solid red;*/
}

.SidebarContent>img {
    position: inherit;
    width: 180px;
    height: 180px;
    border-radius: 15px;
    top: 10px;
    left: 10px;
}

.SidebarContent>p {
    position: inherit;
    width: 92px;
    height: 58px;
    left: 53px;
    top: 198px;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
}

.SidebarContent .NavLink {
    position: inherit;
    /*background-color: gray;*/
    top: 260px;
    padding-left: 19px;
    width: inherit;
    height: auto;
}

.SidebarContent .NavLink ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 20px;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 16px;
    color: #cccccc;
}

.SidebarContent .NavLink ul>ul {
    margin-top: -10px;
    margin-bottom: -20px;
    display: block;
    padding-left: 20px;
    position: inherit
}

.SidebarContent .NavLink ul img {
    position: inherit;
    display: inline-block;
    width: 24px;
    height: 24px;
}
    
}

@media only screen and (max-width: 700px){
.Post>.PreContent>.Content>img {
    position: relative;
    margin-right: 1%;
    width: 48%;
    height: auto;
    border: 1px solid #dddddd;
}
}

@media only screen and (max-width: 570px){
.Post>.PreContent>.Content>img {
    position: relative;
    margin-right: 0%;
    width: 99%;
    height: auto;
    border: 1px solid #dddddd;
}
    
@media only screen and (max-width: 400px){
.All {
        display: flex;
        flex-direction: column;
        background-color: DodgerBlue;
    }
    .All>div {
        height: auto;
        width: 100%
    }
    .sidebar, .main {
        width: 100vh;
    }
    .sidebar {
        background-color: #444444;
    }
    .Sidebar {
    display: block;
    position: relative;
    width: 200px;
    margin: 0;
    height: 100vh;
    /*    background-color:aquamarine;*/
}
    .Main {
    background-color: #EEEEEE;
    display: block;
    position: relative;
    width: auto;
    top:18px;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 700px;
    overflow-y: auto;
    padding: 12px 12px 40px 12px;
}

}