* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Kodchasan', sans-serif;
}

.bigBG{
    width: 100vw;
    height: 100vh;
    background-color:pink;
}

.headBG{
    background-color: #2A2C3F;
    width: 100vw;
    height: 13vh;
    position: relative;
}

.headBG p {
    color: white;
    font-style: normal;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 600;
    font-size: 5vh;
    position: absolute;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    transform: translateY(-30%);
}

.menuBG{
    background-color: white;
    width: 100vw;
    height: 7vh;
    position: relative;
    text-align: center;
}

.menuBG .menu{
    height: inherit;
    display: inline-block;
    width: auto;
    position: relative;
}


.menuBG .menu a,.line{
    float: left;
    display: block;
    color: #2A2C3F;
    text-align: center;
    padding: 14px 13px;
    text-decoration: none;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 600;
    font-size: 3vh;
    transform: translateY(-10%);
}

.menuBG .menu p{
    transform: translateY(-50%);
}

.menuBG .menu a:hover{
    color: #D66A6A;
}

.bodyBG{
    background-color: #D66A6A;
    width: 100vw;
    height: 75vh;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}

.footBG{
    background-color:#2A2C3F;
    width: 100vw;
    height: 5vh;
    position: relative;
}

/* optional for main */

.divDog{
    height: 60vh;
    width: 99vw;
    float: left;
    text-align: center;
    margin-top:7vh;
}
#dogIMG{
    display: inline-block;
    height: 59vh;
    text-align: center;
}

.divLoadingSing{
    background-color: aquamarine;
    width: 20vw;
    height: 50vh;
    position: absolute;
}

#loadingSign{
    width: 12vw;
    display: inline-block;
    text-align: center;
    margin-top:20vh;
    margin-left: 44vw;
    position : absolute;
}

/*form*/
.formBox{
    /* background-color: bisque; */
    width: 530px;
    height: auto;
    display: block;
    margin: 0;
    position: absolute;
    top: -7px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
}